body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  text-align: center;
}

.title {
  margin: 40px;
  padding-left: 400px;
}

.routeLink {
  margin: 40px;
  padding-left: 450px;
}

ul {
  list-style: none;
}

.main {
  margin: 10px;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 4px #000;
}
